<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Index</title>
        <style>
            h1 {
                font-size: 60pt;
                color: #eee;
                text-align: right;
                margin: 0px;
            }
            body {
                font-size: 14pt;
                color: #999;
                margin:5px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Index</h1>
        </header>
        <div role="main">
            <p>This is Index page.</p>
            <p>これはEJSをつかったWebページです</p>
        </div>
    </body>
<html>